# This file specifies intentionally untracked files that Git should ignore.
# Files already tracked by Git are not affected.
# See: https://git-scm.com/docs/gitignore

## macOS ##
.DS_Store

## Project Specific ##
*.html
*.log
build/
output/
src/pe_reports/*.html
src/pe_reports/assets/

## Python ##
__pycache__
.coverage
.mypy_cache
.pytest_cache
.python-version
*.egg-info
dist
