body {
  background-color: #324ca8;
}

.htmx-settling img {
  opacity: 0;
}
img {
  transition: opacity 300ms ease-in;
}

#loader {
  position: absolute;
  left: 50%;

  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

div#myDiv {
  display: none;
  text-align: center;
}

homeBG {
  background-color: white;
}

.custom-table-dark {
  background-color: #336699; /* Adjust this to the medium blue color you prefer */
  color: #ffffff; /* Text color */
}

.custom-table-bordered {
  border-color: #000000; /* Black border color */
}

.custom-table-bordered th,
.custom-table-bordered td {
  border: 1px solid #000000; /* Black border */
}
